.card{
    width: 800px;
    background-color: yellow;
    padding: 20px 0 ;
    border-radius: 20px;
    background-color:  rgb(42, 42, 53);
    margin: auto;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
